In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets, svm
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv('../data/data-clean/super-clean-vehicle-2020-2021.csv', index_col = 0)
#one-hot encode categorical
categorical_columns = ['MAKENAME']  
pd.set_option('display.max_columns', None)
df = pd.get_dummies(df, columns=categorical_columns, dtype = int)
df.head()

,DEATHS,DR_DRINK,DR_HGT,DR_WGT,HIT_RUNNAME,TRAV_SP,HOUR,MOD_YEAR,MODELNAME,VSPD_LIM,VPICBODYCLASSNAME,NUMOCCS,MOD_YEAR_5YR_CHUNK,DEATHOCCURRED,MAKENAME_AM General,MAKENAME_Acura,MAKENAME_Audi,MAKENAME_BMW,MAKENAME_Buick / Opel,MAKENAME_Cadillac,MAKENAME_Chevrolet,MAKENAME_Chrysler,MAKENAME_Dodge,MAKENAME_Ducati,MAKENAME_Fiat,MAKENAME_Ford,MAKENAME_GMC,MAKENAME_Harley-Davidson,MAKENAME_Honda,MAKENAME_Hyundai,MAKENAME_Infiniti,MAKENAME_Isuzu,MAKENAME_Jaguar,MAKENAME_Jeep / Kaiser-Jeep / Willys- Jeep,MAKENAME_KIA,MAKENAME_Kawasaki,MAKENAME_Land Rover,MAKENAME_Lexus,MAKENAME_Lincoln,MAKENAME_Mazda,MAKENAME_Mercedes-Benz,MAKENAME_Mercury,MAKENAME_Mitsubishi,MAKENAME_Nissan/Datsun,MAKENAME_Oldsmobile,MAKENAME_Pontiac,MAKENAME_Porsche,MAKENAME_Saab,MAKENAME_Saturn,MAKENAME_Scion,MAKENAME_Subaru,MAKENAME_Suzuki,MAKENAME_Toyota,MAKENAME_Triumph,MAKENAME_Victory,MAKENAME_Volkswagen,MAKENAME_Volvo,MAKENAME_Yamaha
0,3,1,67,145,0,80,2,1997,ES-250/300/300h/330/ 350,45,Sedan/Saloon,4,1995,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,67,215,0,70,14,1995,Camry,65,Sedan/Saloon,1,1995,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1,0,73,133,0,80,15,2007,"Azera (For 2018 on, code as vehicle model 398)",35,Sedan/Saloon,5,2005,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,64,115,0,70,0,2013,Suburban/Yukon XL (2004 on; see 431 for 1950- ...,45,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,1,2015,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,71,185,0,55,16,2005,Mustang/Mustang II,55,Coupe,1,2005,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
# split to train and test
X = df.drop(columns = ['MODELNAME', 'DEATHOCCURRED', 'VPICBODYCLASSNAME'])
y = df.VPICBODYCLASSNAME
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform (X_test)

In [25]:
# Comparing SVM and linear SVC (squared hinge loss) to classify body type
SVC = svm.SVC(kernel="linear", C=1)
SVC.fit(X_train, y_train)
y_score_svc = SVC.decision_function(X_test)
LSVC = svm.LinearSVC(C=1, max_iter=1000, dual="auto")
LSVC.fit(X_train, y_train)
y_score = LSVC.decision_function(X_test)

In [40]:
svc_y_pred = SVC.predict(X_test)
lsvc_y_pred = LSVC.predict(X_test)

In [42]:
from sklearn.metrics import recall_score
svc_recall = recall_score(y_test, svc_y_pred, average = 'micro')
lsvc_recall = recall_score(y_test, lsvc_y_pred, average = 'micro')

In [53]:
from sklearn.metrics import f1_score
svc_f1 = f1_score(y_test, svc_y_pred, average='micro')
lsvc_f1 = f1_score(y_test, lsvc_y_pred, average='micro')

In [55]:
from sklearn.metrics import accuracy_score
svc_accuracy = accuracy_score(y_test, svc_y_pred, normalize=False)
lsvc_accuracy = accuracy_score(y_test, lsvc_y_pred, normalize=False)

In [57]:
from sklearn.metrics import precision_score
svc_percision = precision_score(y_test, svc_y_pred, average='micro')
lsvc_percision = precision_score(y_test, lsvc_y_pred, average='micro')

#### Reducing dimensionality by eliminating makename as a feature and reapplying

In [47]:
# reapplying the same two models except leaving out make name
# reduces features from 55 to 11
df_red =pd.read_csv('../data/data-clean/super-clean-vehicle-2020-2021.csv', index_col = 0)
df_red.head()

,DEATHS,DR_DRINK,DR_HGT,DR_WGT,HIT_RUNNAME,TRAV_SP,HOUR,MOD_YEAR,MODELNAME,VSPD_LIM,VPICBODYCLASSNAME,NUMOCCS,MAKENAME,MOD_YEAR_5YR_CHUNK,DEATHOCCURRED
0,3,1,67,145,0,80,2,1997,ES-250/300/300h/330/ 350,45,Sedan/Saloon,4,Lexus,1995,1
1,1,0,67,215,0,70,14,1995,Camry,65,Sedan/Saloon,1,Toyota,1995,1
2,1,0,73,133,0,80,15,2007,"Azera (For 2018 on, code as vehicle model 398)",35,Sedan/Saloon,5,Hyundai,2005,1
3,1,0,64,115,0,70,0,2013,Suburban/Yukon XL (2004 on; see 431 for 1950- ...,45,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,1,GMC,2015,1
4,1,0,71,185,0,55,16,2005,Mustang/Mustang II,55,Coupe,1,Ford,2005,1

In [48]:
# split to train and test
X_red = df_red.drop(columns = ['MODELNAME', 'DEATHOCCURRED', 'VPICBODYCLASSNAME', 'MAKENAME'])
y_red = df_red.VPICBODYCLASSNAME
X_red_train, X_red_test, y_red_train, y_red_test = train_test_split(X_red, y_red, test_size=0.2, random_state=42)

sc = StandardScaler()
X_red_train = sc.fit_transform(X_red_train)
X_red_test = sc.transform (X_red_test)

In [50]:
# Comparing SVM and linear SVC (squared hinge loss) to classify body type
SVC_red = svm.SVC(kernel="linear", C=1)
SVC_red.fit(X_red_train, y_red_train)
y_score_svc_red = SVC_red.decision_function(X_red_test)

LSVC_red = svm.LinearSVC(C=1, max_iter=1000, dual="auto")
LSVC_red.fit(X_red_train, y_red_train)
y_score_lsvc_red = LSVC_red.decision_function(X_red_test)

In [51]:
svc_y_pred_red = SVC_red.predict(X_red_test)
lsvc_y_pred_red = LSVC_red.predict(X_red_test)

In [52]:
#recall score for reduced model
svc_recall_red = recall_score(y_red_test, svc_y_pred_red, average = 'micro')
lsvc_recall_red = recall_score(y_red_test, lsvc_y_pred_red, average = 'micro')

In [54]:
# f1 score for reduced model
svc_f1_red = f1_score(y_red_test, svc_y_pred_red, average='micro')
lsvc_f1_red = f1_score(y_red_test, lsvc_y_pred_red, average='micro')

In [56]:
# accuracy score for reduced model
svc_accuracy_red = accuracy_score(y_red_test, svc_y_pred_red, normalize=False)
lsvc_accuracy_red = accuracy_score(y_red_test, lsvc_y_pred_red, normalize=False)

In [58]:
svc_percision_red = precision_score(y_red_test, svc_y_pred_red, average='micro')
lsvc_percision_red = precision_score(y_red_test, lsvc_y_pred_red, average='micro')

In [61]:
data = [
    ['SVC', svc_accuracy, svc_percision, svc_recall, svc_f1], 
    ['Linear SVC', lsvc_accuracy, lsvc_percision, lsvc_recall, lsvc_f1],
    ['Reduced SVC', svc_accuracy_red, svc_percision_red, svc_recall_red, svc_f1_red],
    ['Reduced Linear SVC', lsvc_accuracy_red, lsvc_percision_red, lsvc_recall_red, lsvc_f1_red]
]
model_comparison = pd.DataFrame(
    data,
    columns = ['Model Type', 'Accuracy Score', 'Precision Score', 'Recall Score', 'F1 Score']
)
model_comparison

           Model Type  Accuracy Score  Precision Score  Recall Score  F1 Score
0                 SVC          2533.0         0.579501      0.579501  0.579501
1          Linear SVC          2538.0         0.580645      0.580645  0.580645
2         Reduced SVC          1541.0         0.352551      0.352551  0.352551
3  Reduced Linear SVC          1578.0         0.361016      0.361016  0.361016